// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";



body.bp {
  @include blueprint-typography(true);

}

// Some of our color settings
$primary_text: #f0f0f0;
$label_text: #777;
$footer_bg: #fff;
$bg_color: #3a5fa6;

$lgt_link: #f0f0f0; //high contrast needed for 508compliance
$visited_lgt_link: #f0f0f0;
$hover_lgt_link: #fcff00;

$flashmsg_bg: #e0f100;
$flashmsg_txt: #333;
$flashmsg_bg_label: #ecf1a7;

$page_height: 830px;


// Page layout can be done using mixins applied to your semantic classes and IDs:
body {
  background-color: $footer_bg;
}

//holds the layers just to set the page size
#layer_frame{
  position: relative;
  height: $page_height;
  background-color: $bg_color;
  
}

@mixin tlayer-base{
   background: transparent;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
}

#hancock_layer{
  @include tlayer-base;
  background-image: url('/images/hancock_layer.png');
  bottom: 190px;
  background-repeat: no-repeat;
  background-position: left bottom;
  z-index: 1;
}

#metra_layer{
  @include tlayer-base;
  bottom: 180px;
  background-image: url('/images/metra_layer.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  z-index: 2;
}

#ferris_layer{
  @include tlayer-base;
  bottom: 160px;
  background-image: url('/images/ferris_layer.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  z-index: 3; 
}

#cornfield_layer{
  @include tlayer-base;
  background-image: url('/images/cornfield_layer.png');
  background-repeat: repeat-x;
  background-position: center bottom;
  bottom: 130px;
  z-index: 4;
}

// The blueprint container for our content
#container {
  position: absolute;
  left: 15%;
  @include container;
  //@include showgrid(); //used for alignment
  color: $primary_text;
  z-index: 10;
}

// The blueprint positionable content area
#content {
  @include column($blueprint-grid-columns, true);
  z-index: 100; 
} 

#flashmsg{
  @include column($blueprint-grid-columns,true);
  background-color: $flashmsg_bg;
  color: $flashmsg_txt;
  padding: 0.4em;
  font-size: 1.4em;
  font-weight: bold;
  .msg{
    @include column(10);
    text-align: right;
  }
  
  .ers{
    @include column(10,true);
    @include prepend(1);
    text-align: left;
    font-size: 0.8em; 
    ul{
      padding: 0.3em 0;
      margin: 0;
    }
  }
}
#heading {
  @include prepend-top(1em);
  font-size: 2em;
  
  em {
    font-style: normal;
    font-size: 1.2em;
    font-weight: bold;
  }

}

#sign_up{
  @include prepend-top(2em);
  @include prepend(2);
  @include column(16,true);
}

.group{
  @include column(14,true);
  background-color: $bg_color;
}

.name {
  @include column(8);
  padding-top: 0.35em;
  text-align: right;
  font-size: 1.3em;
  font-weight: bold;
}

.fields{
  @include column(6,true);

  .field {
    margin: 5px;
    background: #fff;
    border: 1px inset #999;
    
    label{
      position: absolute;
      padding: 2px 3px 3px 3px;
      margin-left: 3px;
      color: $label_text;
      background: transparent;
     }

    input, textarea, select {
      position: relative;
      margin: 0;
      border-width: 0px;
      padding: 3px 0 3px 3px;
      background: transparent;
      font: inherit;
    }
  } 
   .reg{
     @include column(5,true);
   }
   .sub_group{
     @include column(5,true); 
   }
   .city{
     @include column(5,true);
   }
   .state{
     @include column(2);
   }
   .zip{
     @include column(2,true);
   }

  .alt_field {
    color: $primary_text;
    font-weight: bold;
    label{
      font-size: 1.2em;
    }
  }

}

.field_with_errors{
  background-color: $flashmsg_bg_label;

}

.submit_area{
  text-align: right;
  clear:both;
  padding-right: 2em;
  padding-top: 2em;
  font-size: 1.1em; 

  a{
    color: $lgt_link !important;
    font-weight: bold;
  }
  a:visited{
    color: $visited_lgt_link !important;
  }

  a:hover{
    color: $hover_lgt_link !important;
  }

}

#signup_submit{
  font-size: 1.5em;
  padding: 5px;
}

#footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 11em;
  background-color: $footer_bg;
  font-size: 1.1em;
  z-index: 5;

  .ncs_logo{
    float: left;
    padding-top: 0.2em;
    padding-left: 0.4em;
  }

  .contact_info{
    padding-top: 1em;
    text-align: center;
  }

  .ncs_text{
    float: right;
    width: 200px;
    padding-top: 0.5em;
    padding-right: 0.5em;
    
    img{
      padding: 1em;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  }
}

#confd_msg {
  display: none;
}

#thank_you{
  @include prepend-top(4em);
  @include prepend(1);
  font-size: 2em;
  font-weight: bold;

  .note {
    font-size: 0.8em;
    font-weight: normal;
  }

}


